.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 32px 20px;
}

.resumo {
  background-color: var(--papel);
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--verde);
}

h1 {
  font-family: "Source Serif 4", serif;
  font-size: 32px;
  color: var(--verde);
  margin-bottom: 24px;
}
